:root {
  --glyph-right-hard-divider: "";
  --glyph-left-hard-divider: "";
  --glyph-right-soft-divider: "";
  --glyph-left-soft-divider: "";
  --glyph-linux-tux: "";
  --glyph-language-markdown: " ";
  --glyph-branch: "";
  --glyph-custom-folder: " ";
  --glyph-file: "󰈔 ";
  --glyph-chevron-right: " ";
  --glyph-chevron-down: " ";
  --glyph-home: " ";
}

x-glyph[type="right-hard-divider"]::before {
    content: var(--glyph-right-hard-divider);
}

x-glyph[type="left-hard-divider"]::before {
    content: var(--glyph-left-hard-divider);
}

x-glyph[type="right-soft-divider"]::before {
    content: var(--glyph-right-soft-divider);
}

x-glyph[type="left-soft-divider"]::before {
    content: var(--glyph-left-soft-divider);
}

x-glyph[type="linux-tux"]::before {
    content: var(--glyph-linux-tux);
}

x-glyph[type="language-markdown"]::before {
    content: var(--glyph-language-markdown);
}

x-glyph[type="branch"]::before {
    content: var(--glyph-branch)
}

x-glyph[type="custom-folder"]::before {
    content: var(--glyph-custom-folder)
}

x-glyph[type="chevron-right"]::before {
    content: var(--glyph-chevron-right)
}

x-glyph[type="chevron-down"]::before {
    content: var(--glyph-chevron-down)
}

x-glyph[type="home"]::before {
    content: var(--glyph-home)
}

x-glyph[type="file"]::before {
    content: var(--glyph-file)
}
