html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

pre {
    display: inline;
    margin: 0;
}

panel-sidebar {
    width: 40rch;
    flex-direction: column;
}

panel-divider {
    overflow: clip;
    height: 100%;
}

panel-divider::before {
    content: "";
    display: block;
    height: 100%;
    border-style: solid;
    border-color: var(--color-comment);
    border-width: 0.1ch;
    margin-left: 0.4ch;
    margin-right: 0.4ch;
}

panel-content {
    flex: auto;
    display: flex;
    flex-direction: column;
}

panel-sidebar {
    display: none;
}

panel-divider {
    display: none;
}

@media only screen and (min-width: 120rch) {
    panel-sidebar {
        display: flex;
    }

    panel-divider {
        display: block;
    }
}

.sourceCode {
    border-style: solid;
    border-color: var(--color-comment);
    border-width: 0.125rem;
    border-radius: 0.5rch;
    padding: 0.5rem 1.5rch;
}

.sourceCode .sourceCode {
    border-style: hidden;
    padding: 0;
}

.rtl {
    direction: rtl;
}

header > *, footer > *, nav > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

nav-heading::before {
    content: "  ";
    white-space: pre;
    font-size: 1.0rem;
    line-height: 1.3rem;
}

nav-dir::before {
    content: "  ";
    white-space: pre;
    font-size: 1.0rem;
    line-height: 1.3rem;
}

nav-file::before {
    content: "    ";
    white-space: pre;
    font-size: 1.0rem;
    line-height: 1.3rem;
}

header {
    height: 1.3rem;
}

nav {
    flex: auto;
}

main {
    display: flex;
    flex: auto;
    overflow: scroll;
    margin-left: 1ch;
}

main-content {
    width: 100%;
}

@media only screen and (min-width: 80rch) {
    main-content {
        width: 80rch;
        margin: 0 auto;
    }
}

footer {
    height: 1.3rem;
    text-align: right;
}

