html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

pre {
    display: inline;
    margin: 0;
}

panel-sidebar {
    display: flex;
    flex-direction: column;
}

panel-divider {
    overflow-y: clip;
}

panel-divider::before {
    content: "│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A│\A";
    border-left: 5px var(--color-line);
    white-space: pre;
}

panel-content {
    flex: auto;
    display: flex;
    flex-direction: column;
}

panel-sidebar {
    width: 40rch;
}

.sourceCode {
    border-style: solid;
    border-color: var(--color-comment);
    border-width: 0.125rem;
    border-radius: 0.5rch;
    padding: 0.5rem 1.5rch;
}

.sourceCode .sourceCode {
    border-style: hidden;
    padding: 0;
}

.rtl {
    direction: rtl;
}

header > *, footer > *, nav > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

nav-heading::before {
    content: "  ";
    white-space: pre;
    font-size: 1.0rem;
    line-height: 1.3rem;
}

nav-dir::before {
    content: "  ";
    white-space: pre;
    font-size: 1.0rem;
    line-height: 1.3rem;
}

nav-file::before {
    content: "    ";
    white-space: pre;
    font-size: 1.0rem;
    line-height: 1.3rem;
}

header {
    height: 1.3rem;
}

nav {
    flex: auto;
}

main {
    display: flex;
    flex: auto;
    overflow: scroll;
}

footer {
    height: 1.3rem;
    text-align: right;
}

