html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

pre {
    display: inline;
    margin: 0;
    font-size: 1rem;
}

details {
    font-family: var(--code-font)
}

nav details > :not(summary):not(details) {
    margin-left: 4ch;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav details {
    margin-left: 2ch;
}

nav > details {
    margin-left: 0;
}

nav summary {
    list-style-type: None;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav details[open] > summary::before {
    content: var(--glyph-chevron-down);
}

nav details:not(details[open]) > summary::before {
    content: var(--glyph-chevron-right);
}

flex-column.menu {
    width: 40rch;
    flex-direction: column;
}

flex-column.menu {
    display: none;
}

.divider-left {
    margin-left: 0.5rch;
    border-left: 0.25rch solid var(--color-comment);
    padding-left: 0.5rch;
}

.divider-right {
    margin-right: 0.5rch;
    border-right: 0.25rch solid var(--color-comment);
    padding-right: 0.5rch;
}

@media only screen and (min-width: 120rch) {
    flex-column.menu {
        display: flex;
        flex: none;
    }
}

.sourceCode {
    border-style: solid;
    border-color: var(--color-comment);
    border-width: 0.125rem;
    border-radius: 0.5rch;
    padding: 0.5rem 1.5rch;
}

.sourceCode .sourceCode {
    border-style: hidden;
    padding: 0;
}

.rtl {
    direction: rtl;
}

header > *, footer > *, nav > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

header {
    height: 1.3rem;
}

main-content {
    display: block;
    width: 100%;
}

@media only screen and (min-width: 80rch) {
    main-content {
        width: 80rch;
        margin: 1rem auto;
        padding: 0 3rch;
    }
}

footer {
    height: 1.3rem;
    text-align: right;
}

flex-row {
    display: flex;
    flex-direction: row;
    flex: auto;
    overflow: hidden;
}

flex-column {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
}

flex-scroll {
    flex: auto;
    overflow: scroll;
}

img, video {
    display: block;
    margin: auto;
    max-width: 100%;
}

figcaption {
    width: 100%;
    text-align: center;
    font-style: italic;
}
