<nav>
    <div>
        <nav-heading class="fixed-width">
            <x-glyph type="home"></x-glyph>
            <b>~</b>
        </nav-heading>
    </div>
    <a href="/blog.html">
        <nav-dir class="fixed-width">
            <x-glyph type="chevron-right" data-fg="comment"></x-glyph>
            <x-glyph type="custom-folder" data-fg="purple"></x-glyph>
            <span>Blog</span>
        </nav-dir>
    </a>
    <a href="/projects.html">
        <nav-dir class="fixed-width">
            <x-glyph type="chevron-right" data-fg="comment"></x-glyph>
            <x-glyph type="custom-folder" data-fg="purple"></x-glyph>
            <span>Projects</span>
        </nav-dir>
    </a>
    <a href="/about.html">
        <nav-file class="fixed-width">
            <x-glyph type="language-markdown"></x-glyph>
            <span>About</span>
        </nav-file>
    </a>
    <a href="/contact.html">
        <nav-file class="fixed-width">
            <x-glyph type="language-markdown"></x-glyph>
            <span>Contact</span>
        </nav-file>
    </a>
    <a href="/education.html">
        <nav-file class="fixed-width">
            <x-glyph type="language-markdown"></x-glyph>
            <span>Education</span>
        </nav-file>
    </a>
    <a href="/experience.html">
        <nav-file class="fixed-width">
            <x-glyph type="language-markdown"></x-glyph>
            <span>Experience</span>
        </nav-file>
    </a>
    <a href="/skills.html">
        <nav-file class="fixed-width">
            <x-glyph type="language-markdown"></x-glyph>
            <span>Skills</span>
        </nav-file>
    </a>
</nav>
