<header>
    <div class="fixed-width" style="float: left;">
        <span data-bg="purple" data-fg="bg" style="padding-left: 1rch">
            <b>NORMAL</b>
        </span>
        <x-glyph type="left-hard-divider" data-fg="purple"></x-glyph>
        <pre> </pre>
        <x-glyph type="branch" data-fg="purple"></x-glyph>
        <pre> </pre>
        <span data-fg="purple">master</span>
        <pre> </pre>
        <x-glyph type="left-soft-divider" data-fg="purple"></x-glyph>
        <pre> </pre>
        <span>$title$</span>
    </div>
    <div class="fixed-width" style="text-align: right; overflow: hidden; white-space: nowrap;">
        <span>utf-8</span>
        <pre> </pre>
        <x-glyph type="right-soft-divider"></x-glyph>
        <pre> </pre>
        <x-glyph type="linux-tux"></x-glyph>
        <pre> </pre>
        <x-glyph type="right-soft-divider"></x-glyph>
        <pre> </pre>
        <x-glyph type="language-markdown"></x-glyph>
        <span>markdown</span>
        <pre>  </pre>
        <span data-fg="purple">Top</span>
        <pre>  </pre>
        <x-glyph type="right-hard-divider" data-fg="purple"></x-glyph>
        <pre data-fg="bg" data-bg="purple">   </pre>
        <b data-fg="bg" data-bg="purple">1:1</b>
        <pre data-fg="bg" data-bg="purple"> </pre>
    </div>
</header>
