<header>
    <flex-row style="justify-content: space-between">
        <flex-row style="justify-content: flex-start; flex: none;">
            <span data-bg="purple" data-fg="bg" style="padding-left: 1rch">
                <b>NORMAL</b>
            </span>
            <pre data-bg="purple"> </pre>
            <x-glyph type="left-hard-divider" data-fg="purple"></x-glyph>
            <pre> </pre>
        </flex-row>
        <flex-row style="justify-content: flex-start; overflow: scroll; flex-direction: row-reverse;">
            <x-glyph type="branch" data-fg="purple"></x-glyph>
            <pre> </pre>
            <span data-fg="purple">master</span>
            <pre> </pre>
            <x-glyph type="left-soft-divider" data-fg="purple"></x-glyph>
            <pre> </pre>
            $if(breadcrumb)$
                $breadcrumb$
                <pre> </pre>
                <x-glyph type="left-soft-divider"></x-glyph>
                <pre> </pre>
            $endif$
            <span>$title$</span>
        </flex-row>
        <flex-row style="justify-content: flex-start; flex: none;">
            <pre> </pre>
            <span>utf-8</span>
            <pre> </pre>
            <x-glyph type="right-soft-divider"></x-glyph>
            <pre> </pre>
            <x-glyph type="linux-tux"></x-glyph>
            <pre> </pre>
            <x-glyph type="right-soft-divider"></x-glyph>
            <pre> </pre>
            <x-glyph type="language-markdown"></x-glyph>
            <span>markdown</span>
            <pre>  </pre>
            <span data-fg="purple">Top</span>
            <pre>  </pre>
            <x-glyph type="right-hard-divider" data-fg="purple"></x-glyph>
            <pre data-fg="bg" data-bg="purple">   </pre>
            <b data-fg="bg" data-bg="purple">1:1</b>
            <pre data-fg="bg" data-bg="purple"> </pre>
        </flex-row>
    </flex-row>
</header>
