<header>
    <flex-row style="justify-content: space-between">
        <flex-row style="justify-content: flex-start; flex: none;">
            <span data-bg="$modeColor$" data-fg="bg" style="padding-left: 1rch">
                <b>NORMAL</b>
            </span>
            <pre data-bg="$modeColor$"> </pre>
            <x-glyph type="left-hard-divider" data-fg="$modeColor$"></x-glyph>
            <pre> </pre>
        </flex-row>
        <flex-row style="justify-content: flex-start; overflow: scroll;">
            <x-glyph type="branch" data-fg="$modeColor$"></x-glyph>
            <pre> </pre>
            <span data-fg="$modeColor$">$branch$</span>
            <pre> </pre>
            <x-glyph type="left-soft-divider" data-fg="purple"></x-glyph>
            <pre> </pre>
            $for(breadcrumb)-$
                <a href="$url$">
                    $-partial("templates/slug.html")-$
                </a>
                <pre> </pre>
                <x-glyph type="left-soft-divider"></x-glyph>
                <pre> </pre>
            $-endfor$
            <div>
                $-partial("templates/slug.html")-$
            </div>
        </flex-row>
        <flex-row style="justify-content: flex-start; flex: none;">
            <pre> </pre>
            <span>utf-8</span>
            <pre> </pre>
            <x-glyph type="right-soft-divider"></x-glyph>
            <pre> </pre>
            <x-glyph type="linux-tux"></x-glyph>
            <pre> </pre>
            <x-glyph type="right-soft-divider"></x-glyph>
            <pre> </pre>
            <div>
                <x-glyph type="$fileType$"></x-glyph>
                <span>$fileType$</span>
            </div>
            <pre>  </pre>
            <span data-fg="purple">Top</span>
            <pre>  </pre>
            <x-glyph type="right-hard-divider" data-fg="$modeColor$"></x-glyph>
            <pre data-fg="bg" data-bg="$modeColor$">   </pre>
            <b data-fg="bg" data-bg="$modeColor$">1:1</b>
            <pre data-fg="bg" data-bg="$modeColor$"> </pre>
        </flex-row>
    </flex-row>
</header>
