<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Josh ρ - $title$</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body>
        $partial("templates/sidebar/index.html")$
        $partial("templates/divider.html")$
        $partial("templates/content/index.html")$
    </body>
</html>
