<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Josh ρ - $title$</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
    </head>
    <body>
        <panel-sidebar>
            <header class="fixed-width">
                <a href="/"><pre> </pre><b>josh@artemis</b></a>
            </header>
            <nav>
                <div>
                    <nav-heading class="fixed-width">
                        <x-glyph type="home"></x-glyph>
                        <b>~</b>
                    </nav-heading>
                </div>
                <a href="/blog.html">
                    <nav-dir class="fixed-width">
                        <x-glyph type="chevron-right" data-fg="comment"></x-glyph>
                        <x-glyph type="custom-folder" data-fg="purple"></x-glyph>
                        <pre> </pre>
                        <span>Blog</span>
                    </nav-dir>
                </a>
                <a href="/projects.html">
                    <nav-dir class="fixed-width">
                        <x-glyph type="chevron-right" data-fg="comment"></x-glyph>
                        <x-glyph type="custom-folder" data-fg="purple"></x-glyph>
                        <pre> </pre>
                        <span>Projects</span>
                    </nav-dir>
                </a>
                <a href="/about.html">
                    <nav-file class="fixed-width">
                        <x-glyph type="language-markdown"></x-glyph>
                        <pre> </pre>
                        <span>About</span>
                    </nav-file>
                </a>
                <a href="/contact.html">
                    <nav-file class="fixed-width">
                        <x-glyph type="language-markdown"></x-glyph>
                        <pre> </pre>
                        <span>Contact</span>
                    </nav-file>
                </a>
                <a href="/education.html">
                    <nav-file class="fixed-width">
                        <x-glyph type="language-markdown"></x-glyph>
                        <pre> </pre>
                        <span>Education</span>
                    </nav-file>
                </a>
                <a href="/experience.html">
                    <nav-file class="fixed-width">
                        <x-glyph type="language-markdown"></x-glyph>
                        <pre> </pre>
                        <span>Experience</span>
                    </nav-file>
                </a>
                <a href="/skills.html">
                    <nav-file class="fixed-width">
                        <x-glyph type="language-markdown"></x-glyph>
                        <pre> </pre>
                        <span>Skills</span>
                    </nav-file>
                </a>
            </nav>
            <footer class="fixed-width"></footer>
        </panel-sidebar>
        <panel-divider data-fg="comment"></panel-divider>
        <panel-content>
            <header>
                <div class="fixed-width" style="float: left;">
                    <span data-bg="purple" data-fg="bg" style="padding-left: 1rch">
                        <b>NORMAL</b>
                    </span>
                    <x-glyph type="left-hard-divider" data-fg="purple"></x-glyph>
                    <pre> </pre>
                    <x-glyph type="branch" data-fg="purple"></x-glyph>
                    <pre> </pre>
                    <span data-fg="purple">master</span>
                    <pre> </pre>
                    <x-glyph type="left-soft-divider" data-fg="purple"></x-glyph>
                    <pre> </pre>
                    <span>$title$</span>
                </div>
                <div class="fixed-width" style="text-align: right; overflow: hidden; white-space: nowrap;">
                    <span>utf-8</span>
                    <pre> </pre>
                    <x-glyph type="right-soft-divider"></x-glyph>
                    <pre> </pre>
                    <x-glyph type="linux-tux"></x-glyph>
                    <pre> </pre>
                    <x-glyph type="right-soft-divider"></x-glyph>
                    <pre> </pre>
                    <x-glyph type="language-markdown"></x-glyph>
                    <span>markdown</span>
                    <pre>  </pre>
                    <span data-fg="purple">Top</span>
                    <pre>  </pre>
                    <x-glyph type="right-hard-divider" data-fg="purple"></x-glyph>
                    <pre data-fg="bg" data-bg="purple">   </pre>
                    <b data-fg="bg" data-bg="purple">1:1</b>
                    <pre data-fg="bg" data-bg="purple"> </pre>
                </div>
            </header>
            <main role="main">
                <div style = "margin: 0 auto; width: 110rch;">
                    <h1>$title$</h1>
                    $body$
                </div>
            </main>
            <footer class="fixed-width rtl">
                <span>
                    <span>Site generated with</span>
                    <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                </span>
            </footer>
        </panel-content>
    </body>
</html>
